<div id="search-list">
    {% if employees %}
    Employees:
    <ul>
        {% for employee in employees %}
        <li>Employee: {{ employee.user.username }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No employees are available.</p>
    {% endif %}
    
    {% if skills %}
    Skills:
    <ul>
        {% for skill in skills %}
        <li>Skill: {{ skill.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No skills are available.</p>
    {% endif %}

    
    
    <script>
        var skillsObject = {
            {% for category in categories %}
            "{{category.name}}": [
            {% for skill in skills %}{% if skill.category.name == category.name%}
            "{{ skill.name }}"{% if not forloop.last %},{% endif %}
            {% endif %}
            {% endfor %}
            ]{% if not forloop.last %},{% endif %}
            {% endfor %}
        }
        
        window.onload = function() {
            var categorySelect = document.getElementById("category");
            var skillSelect = document.getElementById("skill");
            for (var x in skillsObject) {
                categorySelect.options[categorySelect.options.length] = new Option(x, x);
            }
            categorySelect.onchange = function() {
                // When Category Select changes, rest Skill Select to appropriate values
                skillSelect.length = 1;
                for (var y in skillsObject[this.value]) {
                    skillSelect.options[skillSelect.options.length] = new Option(skillsObject[this.value][y], y);
                }
            }
        }
    </script>
    <form name="form1" id="form1" action="/action_page.php">
        Pick a skill: <select name="category" id="category">
            <option value="" selected="selected">Select Category  </option>
        </select>
        <select name="skill" id="skill">
            <option value="" selected="selected">Select Skill</option>
        </select>
        <br><br>
        
    </div>