<div id="search-list">
    {% if employees %}
    Employees:
    <ul>
        {% for employee in employees %}
        <li>Employee: {{ employee.user.username }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No employees are available.</p>
    {% endif %}

    {% if skills %}
    Skills:
    <ul>
        {% for skill in skills %}
        <li>Skill: {{ skill.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No skills are available.</p>
    {% endif %}
        
</div>